* {
  box-sizing: border-box;
}

div{
  margin-bottom: 15px;
}

.view {
  display: flex;
  align-items: center;
  justify-content: center;
}

.view-btn {
  display: flex;
  width: auto;
}

.favorite-movies{
  display: inline;
}

div.title{
  text-align: center;
  font-weight: bold;
}

.row{
  margin-top:10px;
}

div.profile-view.card{
  margin:auto;
}

Form{
  margin-top: 30px;
}