* {
  box-sizing: border-box;
}

.view {
  display: flex;
  align-items: center;
  justify-content: center;
}

.view-btn {
  width: 33%;
}

div.title{
  text-align: center;
  font-weight: bold;
}

.row{
  margin-top:10px;
}

div.profile-view.card{
  margin:auto;
}